/* Background for the current highest rank. */
#game-container.rank-avtoritet{
  background-image:linear-gradient(rgba(8,8,8,.10),rgba(8,8,8,.22)),url('./assets/backgrounds/desktop/blatnoi.png');
  background-size:cover;
  background-position:center;
}
@media(max-width:700px){
  #game-container.rank-avtoritet{
    background-image:linear-gradient(rgba(8,8,8,.10),rgba(8,8,8,.22)),url('./assets/backgrounds/mobile/blatnoi.png');
    background-position:center center;
  }
}
